/**
 * Off-Canvas Sidebars plugin
 *
 * @author Jory Hogeveen <info@keraweb.nl>
 * @package off-canvas-sidebars
 * @version 0.3
 */

.ocs-credits {
	overflow: hidden;
    background: #fff;
    position: relative;
    margin: 20px 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.ocs-credits .inner { padding-left: 10px; padding-right: 10px; }
.ocs-credits h3 { font-size: 14px; line-height: 1.4; margin: 0;  padding: 8px 12px; border-bottom: 1px solid #eee; }

.postbox.section-sidebar {
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
}
.postbox.section-sidebar:hover {opacity: 1 !important;}

@media only screen and (min-width: 850px) {
	.off-canvas-sidebars-settings {
		margin-right: 300px;
	}

	.off-canvas-sidebars-settings form {
		float: left;
		min-width: 100%;
		width: auto;
	}

	.ocs-credits {
		float: right;
    	margin: 20px -300px 20px 20px;
	    width: 280px;
	}
}

@media only screen and (min-width: 959px) {
	.ocs-credits {
		position: fixed;
	    right: 0;
	    margin: 20px;
	}
}
